@import '~office-ui-fabric-react/dist/sass/References.scss';

.studentAnnouncements {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.box {
  @include ms-Grid-col;
  @include ms-xl3;
  @include ms-lg3;
  border-radius: 4px;
  border: 1px solid #BDBEC2;
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 250px !important;
  border-bottom-color: #BE492B;
  border-bottom-width: 5px;
}
.title {
  @include ms-Grid-col;
  @include ms-lg10;
  color: #354969;
  font-weight: bolder;
  font-size: 19px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.text {
  color: black;
  font-weight: normal;
  font-size: 17px;
}
.icon {
  margin-top: 5px;
  color: #354969;
  transform: rotate(180deg);
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 800px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}